<mat-card>
  <div>
    <h1 class="text-light">Employee Details</h1>
  </div>

  <div *ngIf="funcionario">
    <form>
      <div class="input-box">
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input
            matInput
            type="text"
            class="form-control text-dark"
            value="{{ funcionario.nome }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Surname:</mat-label>
          <input
            matInput
            type="text"
            class="form-control text-dark"
            value="{{ funcionario.sobrenome }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Department:</mat-label>
          <input
            matInput
            type="text"
            class="form-control text-dark"
            id="Livro"
            value="{{ funcionario.departamento }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Shift:</mat-label>
          <input
            matInput
            type="text"
            class="form-control text-dark"
            asp-for="LivroEmprestado"
            id="Livro"
            value="{{ funcionario.turno }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Situation:</mat-label>
          <input
            matInput
            type="text"
            class="form-control text-dark"
            asp-for="LivroEmprestado"
            id="Livro"
            value="{{ funcionario.ativo == true ? 'Ativo' : 'Inativo' }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Creation Date:</mat-label>
          <input
            matInput
            type="text"
            class="form-control text-dark"
            asp-for="LivroEmprestado"
            id="Livro"
            value="{{ funcionario.dataDeCriacao }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Change Date:</mat-label>
          <input
            matInput
            type="text"
            class="form-control text-dark"
            asp-for="LivroEmprestado"
            id="Livro"
            value="{{ funcionario.dataDeAlteracao }}"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="btn-box">
        <a
          (click)="InativaFuncionario()"
          mat-raised-button
          style="background-color: rgba(250, 30, 30)"
          >Inactivate User</a
        >
        <a routerLink="" mat-raised-button>Back</a>
      </div>
    </form>
  </div>
</mat-card>
