<mat-card>
  <div class="funcionario-box">
    <button
      routerLink="cadastro"
      mat-raised-button
      style="background-color: rgba(11, 155, 165, 0.466)"
      onmouseover="this.style.backgroundColor='rgb(50, 155, 200)'"
      onmouseout="this.style.backgroundColor='rgb(11, 155, 165)'"
    >
      Register new employee
    </button>

    <div class="input-box">
      <mat-form-field>
        <mat-label>Search:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Which record are you looking for?"
          (input)="search($event)"
        />
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8">
    <ng-container matColumnDef="Situacao">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">
        <div *ngIf="funcionario.ativo == true; else inativo">
          <img
            src="assets/images/Ativo.png"
            style="height: 20px; width: 20px"
            alt=""
          />
        </div>
        <ng-template #inativo>
          <img
            src="assets/images/Inativo.png"
            style="height: 20px; width: 20px"
            alt=""
          />
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let funcionario">{{ funcionario.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="Sobrenome">
      <th mat-header-cell *matHeaderCellDef>Surname</th>
      <td mat-cell *matCellDef="let funcionario">
        {{ funcionario.sobrenome }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Departamento">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let funcionario">
        {{ funcionario.departamento }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Ações">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">
        <a
          routerLink="editar/{{ funcionario.id }}"
          mat-raised-button
          style="background-color: rgba(197, 149, 15, 0.5)"
          onmouseover="this.style.backgroundColor='rgb(300, 149, 15)'"
          onmouseout="this.style.backgroundColor='rgb(197, 149, 15)'"
          >To edit</a
        >
        <a
          routerLink="detalhes/{{ funcionario.id }}"
          mat-raised-button
          style="background-color: rgba(180, 180, 180, 0.514)"
          onmouseover="this.style.backgroundColor='rgb(210, 192, 192)'"
          onmouseout="this.style.backgroundColor='rgb(180, 180, 180)'"
          >Details</a
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="Teste">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">
        <mat-dialog-actions>
          <a
            (click)="openDialog(funcionario.id)"
            mat-raised-button
            style="background-color: rgba(153, 12, 12, 0.507)"
            onmouseover="this.style.backgroundColor='rgb(250, 30, 30)'"
            onmouseout="this.style.backgroundColor='rgb(153, 12, 12)'"
            >Delete</a
          >
        </mat-dialog-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</mat-card>
