<mat-card>
  <h1>{{ btnTitulo }}</h1>

  <form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDir="ngForm">
    <input type="hidden" value="" formControlName="id" />

    <div class="input-box">
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input
          matInput
          id="nome"
          type="text"
          class="form-control text-dark"
          formControlName="nome"
          placeholder="Enter the name!"
          required
        />
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label>Surname:</mat-label>
        <input
          matInput
          id="sobrenome"
          type="text"
          class="form-control text-dark"
          formControlName="sobrenome"
          placeholder="Insert last name!"
          required
        />
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label>Department:</mat-label>
        <mat-select
          id="departamento"
          class="form-select"
          formControlName="departamento"
          required
        >
          <mat-option value="Administrativo">Administrative</mat-option>
          <mat-option value="Comercial">Commercial</mat-option>
          <mat-option value="Compras">Shopping</mat-option>
          <mat-option value="Contabilidade">Accounting</mat-option>
          <mat-option value="Financeiro">Financial</mat-option>
          <mat-option value="Juridico">Legal</mat-option>
          <mat-option value="Logistica">Logistics</mat-option>
          <mat-option value="Marketing">Marketing</mat-option>
          <mat-option value="RH">HR</mat-option>
          <mat-option value="Suporte">Support</mat-option>
          <mat-option value="TI">TI</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Shift</mat-label>
      <mat-select
        id="turno"
        class="form-select"
        formControlName="turno"
        required
      >
        <mat-option value="Manha">Morning</mat-option>
        <mat-option value="Tarde">Afternoon</mat-option>
        <mat-option value="Noite">Night</mat-option>
        <mat-option value="Integral">Full</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="btn-box">
      <button
        type="submit"
        class="btn btn-success w-50"
        [disabled]="!funcionarioForm.valid"
        mat-raised-button
        color="accent"
      >
        {{ btnAcao }}
      </button>
      <button class="btn btn-primary w-50" routerLink="" mat-raised-button>
        Back
      </button>
    </div>
  </form>
</mat-card>
